{{> header}}

<h1>Sprinter - Simple Sprint Tracker</h1>
<h2>Under construction...</h2>

<h3>Sprint Contributions</h3>
<ul>
    <li><a href="stories">Story</a></li>
    <li><a href="reviews">PR Review</a></li>
    <li><a href="fixes">Bug Fix</a></li>
</ul>

<h3>How it works</h3>
<ol>
    <li>Story, bug and chore are counted when they are closed within the sprint</li>
    <li>Story is counted to sprint when its title contains <code>[SP=&lt;story point&gt;]</code></li>
    <li>PR Review is counted when they are merged within the sprint</li>
    <li>Bug is counted when it has <code>Bug</code> label [TBD]</li>
    <li>Chore is counted when it has <code>Chore</code> label [TBD]</li>
    <li>Use wisely, each API call some Github GraphQL queries so it might hit the rate limit pretty quickly :/</li>
</ol>

{{> footer}}